.desktop-icon{
  color: #EF5423 ;
}
/*
.horizontal-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .horizontal-item {
    flex-basis: calc(33.33% - 10px);  Adjust the width of each item 
   }  */ 

